.StepperIcon {
    font-size: large;
    margin-left: 7px;
    color: white !important;
    border: 1px lightgray solid !important;
    border-radius: 100%;
}

.StepperIconInProgress {
    color: rgb(229, 150, 23, 0.6) !important;
    border: 0px !important;
    animation: blink-animation 1.5s infinite;
}

@keyframes blink-animation {
    0% {
        opacity: 1; 
    }
    50% {
        opacity: 0.3; 
    }
    100% {
        opacity: 1; 
    }
}


.StepperIconCompleted {
    color: green !important;
}

.StepperIconActive {
    color: white !important;
    border: 3px lightgray solid !important;
}

.default-box {
    position: relative;
    margin: 0 10px;
    padding: 0 10px;
    display: inline-block;
}

.arrow-box {
    background-color: #ffed8052;
    border: 4px solid #0E3EE9;
    border-radius: 12px;
}

.info-box{
    height: 40px;
    /* height: 50px; */
    text-align: center;
    font-size: 13px;
    padding-top: 8px;
    margin: 0 10px;
}

.arrow-box::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -33px;
    
    transform: translateY(-50%);
    border-width: 16px;
    border-style: solid;
    border-color: transparent transparent transparent #0E3EE9;
}

.arrow-box-step {
    padding: 0;
    margin-right: 0;
    margin-left: 30px;
}

.additional-style {
    content: '';
    position: absolute;
    top: 90%;
    right: -33px;
    transform: translateY(-50%);
    border-width: 16px;
    border-style: solid;
    border-color: transparent transparent transparent #DFBD67;
}

.additional-style-remove {
    position: relative;
    background-color: #ffed8052;
    padding: 7px 7px;
    margin-right: 18px;
    display: inline-block;
    margin-left: -11px;
}


.step-default {
    width: 300px;
    height: 200px;
    background-image: url('/steps_default.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.color-box{
    background-color: #FFF8E7;
    border: 4px solid #ffffff;
    border-radius: 12px;
}


.full-lines { 
    height: 100% !important;
    min-height: 1px !important;
}
.full-lines-2 { 
    height: 100% !important;
    min-height: 1px !important;
}

.MuiStepConnector-line {
    min-height: 0vh !important;
}

.line-parent {
    position: relative;
    overflow: hidden;
    display: block;
    height: 100%;
}

.line-parent-2 {
    position: relative;
    overflow: hidden;
    display: block;
    height: 50px;
}

.line-parent-3 {
    position: relative;
    overflow: hidden;
    display: block;
    height: 75px;
}
.step-link-color{
    color: blue;
}
.stepper-link{
    cursor: pointer
}

.leftSideDiv {
    display: inline;
}

.rightSideDiv {
    display: inline;
}

.srcDiv {
    padding-top: 0px;
    margin-top: 0px;
}

.dstDiv {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.infoImageIcon {
    display: inline;
    margin-left: 5px;
}
.disabled{
    opacity: 1;
    cursor: not-allowed;
    pointer-events: none;
    color: rgb(154, 154, 154) !important;
}
